language: erlang

otp_release:
  - 17.1

env:
  - ELIXIR_VERSION=0.15.1

before_install:
  - wget https://github.com/elixir-lang/elixir/releases/download/v$ELIXIR_VERSION/Precompiled.zip
  - unzip -d elixir Precompiled.zip

before_script:
  - export PATH=`pwd`/elixir/bin:$PATH
  - mix local.hex --force
  - MIX_ENV=test mix deps.get --only
  - MIX_ENV=test mix deps.compile

script:
  - mix test --trace
